name: Documentation

on:
  workflow_run:
    workflows: [ "Portfolio CI" ]
    types: [ completed ]
    branches: [ master ]

jobs:
  generate-docs:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pages: write

    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Generate Swagger Documentation
        working-directory: ./backend
        run: ./mvnw springdoc:generate

      - name: Deploy API Documentation
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./backend/target/swagger-ui

      - name: Debug Event
        run: |
          echo "Event name: ${{ github.event_name }}"
          echo "Workflow conclusion: ${{ github.event.workflow_run.conclusion }}"
          echo "Workflow name: ${{ github.event.workflow_run.name }}"
          echo "Branch: ${{ github.ref }}"